
@import 'variables';

#detailPanel {
  overflow: visible;

  h3 {
    padding-top: 0;
    text-align: left;
    padding: 0;
  }

  #detailElevationProfile {
    padding: 20px 0 0 0;
    width: 100%;
  }

  #detailDescription {
    margin: 12px 0;
    line-height: var(--calcite-line-height-1, 1.4);
    color: var(--calcite-ui-text-2, rgb(50, 50, 50));
  }

  #detailInfograph {
    padding-top: 8px;
    text-align: left;

    .infograph {
      padding: 5px;
    }
    .fa {
      padding-right: 2px;
    }

    .fa-calendar-times-o {
      color: var(--calcite-ui-danger, #d98c8c);
    }

    .fa-calendar-check-o {
      color: var(--calcite-ui-success, #7dad7c);
    }
  }

  .esri-widget {
    background: transparent;
  }

}

@media (max-width: $max-width) {
  #detailPanel {
    h3 {
      text-align: left;
      padding: 0;
    }

    #detailInfograph {
      text-align: left;
      padding-left: 0;
    }

    #detailDescription {
      display: none;
    }

    #detailElevationProfile {
      margin: 0;
      width: 100%;
      height: 120px;
    }
  }
}
